body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: black;
}

.game-container {
  width: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  transition: all 0.4s;
}

img:hover {
  scale: 1.15;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 23rem;
  height: 23rem;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid black;
  color: red;
  font-size: 2.8rem;
  height: 7rem;
  width: 7rem;
}

.square-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 0.1rem solid white;
  color: red;
  font-size: 2.8rem;
  height: 7rem;
  width: 7rem;
}

.player-marker {
  color: red;
}

.score-line {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.restart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  height: 3rem;
  width: 8rem;
  font-size: 1.5rem;
  background-color: white;
  border: 0.1rem solid black;
  background-color: red;
  color: white;
}

.restart-button:hover {
  border-color: black;
}